<html>

<body>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="bg-primary text-center">LOGIN</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form role="form" name="loginForm">
                        <div class="form-group has-feedback">
                            <label class="control-label" for="exampleInputEmail1">Username</label>
                            <input class="form-control input-lg" id="exampleInputEmail1" placeholder="Enter your username" type="text" ng-model="user" required>
                            <span class="fa fa-check form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="control-label" for="exampleInputPassword1">Password</label>
                            <input class="form-control input-lg" id="exampleInputPassword1" placeholder="Password" type="password" ng-model="pass" required>
                            <span class="fa fa-check form-control-feedback"></span>
                        </div>
                        <button type="submit" class="btn btn-block btn-md btn-success" 
                                ng-click="login(user,pass)" ng-show="loginForm.$valid">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
