<div class="container" ng-controller="stationsCtrl">
    <div class="row">
        <div class="col-lg-5 col-sm-12">
            <h2 class="section-heading">Administrate</h2>
            <label>You selected: {{ngDialogData.stationName}}</label>
            <form name="administrateForm" accept-charset="utf8">
                <p>Pass: <input type="password" ng-model="password" required></p><br>
                <p><button ng-show="administrateForm.$valid" ng-click="loginStation(ngDialogData.stationName,password)">Get in</button></p>
            </form>
        </div>
    </div>
</div>