<head>
    
</head>

<hr class="section-heading-spacer">
<div class="clearfix"></div>
<h2 class="section-heading" style="text-align: center; color: blueviolet">Queries</h2>
<div class="container" ng-controller="queriesCtrl">
    <div class="row">
        <div class="container" style="width: 80%">
            <p>Query type:</p>
            <p>
                <select ng-model="typeQuery" class="form-control">
                    <option value="" selected>--Selecciona--</option>
                    <option value="telemetry">Telemetry</option>
                    <option value="stations">Stations</option>          
                    <option value="chargePoints">Charge Points</option>          
                </select>
            </p>
            <div ng-show="typeQuery=='telemetry'">
                <p>Telemetry query: </p>
                <form accept-charset="utf-8" name="telemetryForm">
                    <p>
                        <select ng-model="dataQuery" class="form-control" required>
                            <option value="" selected>--Selecciona--</option>
                            <option value="all">All</option>
                            <option value="voltage">Voltage</option>
                            <option value="current">Current</option>          
                            <option value="curr_power">Current power</option>          
                            <option value="imp_ae">Imported Active Energy</option>          
                            <option value="exp_ae">Exported Active Energy</option>          
                            <option value="imp_re">Imported Reactive Energy</option>          
                            <option value="exp_re">Exported Reactive Energy</option>          
                            <option value="power_factor">Power factor</option>          
                            <option value="earth_wire_status">Earth wire status</option>          
                            <option value="station_status">Station status</option>          
                            <option value="ev_battery_start_value">EV battery value before charge</option>          
                            <option value="ev_battery_final_value">EV battery value after charge</option>
                        </select>
                    </p>
                    <!--<p>List available stations:</p>
                    <div>
                        <p>
                            <select ng-model="station_id" required>
                                <option value="">Select</option>
                                <option ng-repeat="s in stations" value="{{s.id}}">{{s.name}}</option>
                            </select>
                        </p>
                    </div>-->
                    <p>From:</p>
                    <p><input type="date" ng-model="startDate" class="form-control" required></p>
                    <p>To:</p>
                    <p><input type="date" ng-model="finalDate" class="form-control" required></p>
                    <p><button type="submit" ng-show="telemetryForm.$valid" class="btn btn-md btn-info" ng-click="doTelQuery(dataQuery,startDate,finalDate,typeQuery)">Send query</button></p>
                </form>
                <p>
                    <button class="btn btn-default btn-md" ng-click="exportLast()">Export last charge</button>
                    <button class="btn btn-default btn-md" ng-click="clearFilter()">Clear Filters</button>
                </p>
                <p>Query results: </p>
                <div ng-show="consultaCompleta && (dataQuery=='all')" style="overflow-x:auto;">
                    <table class="table table-bordered table-responsive" style="white-space: nowrap">
                        <th>Voltage</th>
                        <th>Current</th>
                        <th>Power Offered</th>
                        <th>Imported Active Energy</th>
                        <th>Exported Active Energy</th>
                        <th>Imported Reactive Energy</th>
                        <th>Exported Reactive Energy</th>
                        <th>Exported Active Power</th>
                        <th>Imported Active Power</th>
                        <th>Exported Reactive Power</th>
                        <th>Imported Reactive Power</th>
                        <th>Power Factor</th>
                        <th>Earth Wire Status</th>
                        <th>Station Status</th>
                        <th>Initial EV Battery Value</th>
                        <th>Final EV Battery Value</th>
                        <th>Time when listed</th>
                        <th>Connector Id</th>
<!--                        <th>Station Name</th>-->
                        <tr ng-repeat="c in consultaCompleta">
                            <td>{{c.voltage}}</td>
                            <td>{{c.current}}</td>
                            <td>{{c.curr_power}}</td>
                            <td>{{c.imp_ae}}</td>
                            <td>{{c.exp_ae}}</td>
                            <td>{{c.imp_re}}</td>
                            <td>{{c.exp_re}}</td>
                            <td>{{c.exp_ap}}</td>
                            <td>{{c.imp_ap}}</td>
                            <td>{{c.exp_rp}}</td>
                            <td>{{c.imp_rp}}</td>
                            <td>{{c.power_factor}}</td>
                            <td>{{c.earth_wire_status}}</td>
                            <td>{{c.station_status}}</td>
                            <td>{{c.ev_battery_start_value}}</td>
                            <td>{{c.ev_battery_final_value}}</td>
                            <td>{{c.current_time_date | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                            <td>{{c.connector_id}}</td>
<!--                            <td>{{c.station_name}}</td>-->
                        </tr>
                    </table>
                    <p> <button ng-click="exportToExcel()" class="btn btn-md btn-success">Export</button> </p>
                </div>
                <div ng-show="consultaUnicaVariada && (dataQuery!='all')" style="overflow-x:auto;">
                    <table class="table table-bordered table-responsive" style="width: 50%; white-space: nowrap">
                        <th style="align-content: center">Results</th>
                        <tr ng-repeat="c in consultaUnicaVariada">
                            <td>{{c}}</td>
                        </tr>
                    </table>
                    <p> <button ng-click="exportToExcel()">Export</button> </p>
                </div>
            </div>
            <div ng-show="typeQuery=='stations'">
                <!--<form accept-charset="utf-8" name="stationsForm">
                    <p><textarea rows="1" cols="25" ng-model="stationsQuery" required></textarea></p>
                    <p><button type="submit" ng-show="stationsForm.$valid" ng-click="doStatQuery(stationsQuery,typeQuery)">Send query</button></p>
                </form>-->
                Name: <input type="text" class="form-control" ng-model="search.name" ng-model-options="{debounce:100}"><br>
                City: <input type="text" class="form-control" ng-model="search.city" ng-model-options="{debounce:100}"><br>
                Address: <input type="text" class="form-control" ng-model="search.address" 
                                ng-model-options="{debounce:100}"><br>
                <p class="text-center">
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
                </p>
                <ul class="list-group">
                    <li class="list-group-item" dir-paginate="s in stations | filter:search | itemsPerPage:5">{{s.name}}</li>
                </ul>
                
            </div>
            <div ng-show="typeQuery=='chargePoints'">
                <p>Query: </p>
                <form accept-charset="utf-8" name="cpForm">
                    <p><textarea rows="1" cols="25" ng-model="cpQuery" required></textarea></p>
                    <p>From: <input type="date" ng-model="startDate" required></p>
                    <p>To: <input type="date" ng-model="finalDate" required></p>
                    <p><button type="submit" ng-show="cpForm.$valid" ng-click="doCpQuery(cpQuery,startDate,finalDate,typeQuery)">Send query</button></p>
                </form>
                <div ng-show="typeQuery=='chargePoints'">
                    <p>Query result: {{chargePoint}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
