<!DOCTYPE html>
<html>

<body>
    <div class="py-5 text-center opaque-overlay" style="background-image: url(img/fondo_alter_2.jpg)">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 text-white">
                    <h1 class="display-3 mb-4">Future Charge Cloud</h1>
                    <p class="lead mb-5">Welcome to your new, best solution to monitorize EV charge stations</p>
                    <a href="#!/registro" ng-if="it == false" class="btn btn-lg btn-outline-light mx-1">Sign up</a>
                    <a href="#!/login" ng-if="it == false" class="btn btn-lg btn-primary mx-1">Login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center display-3">¿Who are we?</h1>
                    <p class="text-justify">Future Charge Cloud is an association between Politechnical University of Cartagena and an Spanish enterprise specialized in researching technical solutions that involve bringing renewable energy to society.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="d-block img-fluid my-3 align-self-center" ng-src="img/solventie.jpg"> </div>
                <div class="col-md-6">
                    <h1>Contact us</h1>
                    <p>We would love to hear from you</p>
                    <form>
                        <div class="form-group"> <label for="InputName">Your name</label>
                            <input type="text" class="form-control" id="InputName" placeholder="Your name"> </div>
                        <div class="form-group"> <label for="InputEmail1">Email address</label>
                            <input type="email" class="form-control" id="InputEmail1" placeholder="Enter email"> </div>
                        <div class="form-group"> <label for="Textarea">Write here</label> <textarea class="form-control" id="Textarea" rows="3" placeholder="Type here"></textarea> </div>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center align-self-center">
                    <p class="mb-5"> <strong>Future Charge Cloud</strong>
                        <br>Murcia
                        <br>Spain, 30820
                        <br> <abbr title="Phone">P:</abbr> (34)968123456 </p>
                    <div class="my-3 row">
                        <div class="col-4">
                            <a href="https://www.facebook.com" target="blank"><i class="fa fa-3x fa-facebook"></i></a>
                        </div>
                        <div class="col-4">
                            <a href="https://twitter.com" target="blank"><i class="fa fa-3x fa-twitter"></i></a>
                        </div>
                        <div class="col-4">
                            <a href="https://www.instagram.com" target="blank"><i class="fa fa-3x fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0">
                    <img class="img-fluid" ng-src="img/solventie.jpg"></div>
            </div>
        </div>
    </div>
</body>

</html>
